.calculatrice_hide{
    display: none;
}

.BGEnd{
    background-image: url("https://media.giphy.com/media/SVhnmDDdOzrZC/giphy.gif");
    background-size: cover;
}

button{
    width: 80px;
    height: 70px;
    background-image: url("https://media.giphy.com/media/3ov9k1173PdfJWRsoE/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-weight: bold;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 0px #ffffff;

}
button:active{
    transform: scale(10,10);
}
#titre{
    font-size: 25px;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Monoton', cursive;
    margin:5px 5px 5px;
    color:yellowgreen;
}
#answer{
    text-align:center;
    box-shadow: 0px 0px 10px 0px yellowgreen;
    background: darkgray;
    color:yellow;
    font-weight: bolder;
    font-size: 18px;
    border: solid yellowgreen 3px;
    width:230px;
    height: 65px;
    margin-left: 7px;
    border-radius: 10%;
}
.bodybefore{
    display:flex;
    align-content: center;
    justify-content: center;
    background: black;
}

.calculette{
border:solid yellowgreen 3px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 5px yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://media.giphy.com/media/14u2ZI1XhkoZCU/giphy.gif");
    width: 400px;
    height: 450px;

}

